{% extends 'base.html' %}

{% block js %}
<script src="{{STATIC_URL}}js/underscore-min.js"></script>
<script src="{{STATIC_URL}}js/src/wizard.js"></script>
<script>
$(document).ready(function() {
  var w = new window.Wizard("#wizard", "#wizard section");
});
</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>
var makeSlider = function (i) {
  $( "#abc-" + i + "-slider" ).slider({
    value:0,
    min: 0,
    max: 10,
    step: 1,
    slide: function( event, ui ) { $( "#abc-" + i ).val( ui.value ); }
  });
//  $( "#abc-" + i ).val( $( "#abc-" + i + "-slider" ).slider( "value" ) );
};

$(function() {
  for (var i=1; i<17; i++) {
    makeSlider(i);
  }
});
</script>

{% endblock %}

{% block content %}

<form role="form">
<div id="wizard">
	<section>
		<h2>Houghton Questions</h2>

	<div class="form-group">
    <label for="q1">Do you wear your prosthesis</label>

		<div class="radio">
			<label>
				<input type="radio" name="q1" id="q1-1" value="1"> Less than 25% of waking hours (1-3 hours)
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q1" id="q1-2" value="2"> Between 25% and 50% of waking hours (4-8 hours)
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q1" id="q1-3" value="3"> More than 50% of waking hours (more than 8 hours)
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q1" id="q1-4" value="4"> All working hours (12-16 hours)
			</label>
		</div>

  </div>

	<div class="form-group">
    <label>Do you use your prosthesis to walk</label>


		<div class="radio">
			<label>
			<input type="radio" name="q2" id="q2-1" value="1"> Just when visiting the doctor or limb-fitting center
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q2" id="q2-2" value="2"> At home but not to go outside
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q2" id="q2-3" value="3"> Outside the home on occasion
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q2" id="q2-4" value="4"> Inside and outside all the time
			</label>
		</div>

  </div>


	<div class="form-group">
    <label>When going outside when wearing your prosthesis, do you:</label>

		<div class="radio">
			<label>
			<input type="radio" name="q3" id="q3-1" value="1"> Use a wheelchair
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q3" id="q3-2" value="2"> Use two crutches, two canes, or a walker
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q3" id="q3-3" value="3"> Use one cane
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q3" id="q3-4" value="4"> Use nothing
			</label>
		</div>

  </div>

	<div class="form-group">
    <label>When walking with your prothesis outside, do you feel unstable when: walking on a flat surface?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-1" value="1"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-2" value="2"> No
			</label>
		</div>

	</div>

	<div class="form-group">
    <label>When walking with your prothesis outside, do you feel unstable when: walking on slopes?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-1" value="1"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-2" value="2"> No
			</label>
		</div>

	</div>

	<div class="form-group">
    <label>When walking with your prothesis outside, do you feel unstable when: walking on rough ground?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-1" value="1"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-2" value="2"> No
			</label>
		</div>

	</div>

	</section>
	<section>
	<h2>Activites-specific Balance Confidence (ABC) Scale</h2>

<p>How confident are you that you will NOT lose your balance or become unsteady when you:</p>

	<div class="form-group">
		<label>Walk around your house</label>

		<input type="text" id="abc-1" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-1-slider"></div>
	</div>


	<div class="form-group">
		<label>Walk up or down stairs?</label>

		<input type="text" id="abc-2" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-2-slider"></div>
	</div>

	<div class="form-group">
		<label>Bend over and pick up a slipper from the front of a closet floor?</label>

		<input type="text" id="abc-3" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-3-slider"></div>
	</div>

	<div class="form-group">
		<label>Reach for a small can off a shelf at eye level?</label>

		<input type="text" id="abc-4" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-4-slider"></div>
	</div>

	<div class="form-group">
		<label>Stand on your tiptoes and reach for something above your head?</label>

		<input type="text" id="abc-5" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-5-slider"></div>
	</div>

	<div class="form-group">
		<label>Stand on a chair and reach for something?</label>

		<input type="text" id="abc-6" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-6-slider"></div>
	</div>

	<div class="form-group">
		<label>Sweep the floor?</label>

		<input type="text" id="abc-7" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-7-slider"></div>
	</div>

	<div class="form-group">
		<label>Walk outside the house to a car parked in the driveway?</label>

		<input type="text" id="abc-8" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-8-slider"></div>
	</div>

	<div class="form-group">
		<label>Get into or out of a car?</label>

		<input type="text" id="abc-9" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-9-slider"></div>
	</div>

	<div class="form-group">
		<label>Walk across a parking lot at the mall?</label>

		<input type="text" id="abc-10" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-10-slider"></div>
	</div>

	<div class="form-group">
		<label>Walk up or down a ramp?</label>

		<input type="text" id="abc-11" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-11-slider"></div>
	</div>

	<div class="form-group">
		<label>Walk in a crowded mall where people rapidly walk past you?</label>

		<input type="text" id="abc-12" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-12-slider"></div>
	</div>

	<div class="form-group">
		<label>Are bumped into by people as you walk through the mall?</label>

		<input type="text" id="abc-13" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-13-slider"></div>
	</div>

	<div class="form-group">
		<label>Step onto or off an escalator while you are holding onto a railing?</label>

		<input type="text" id="abc-14" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-14-slider"></div>
	</div>

	<div class="form-group">
		<label>Step onto or off an escalator while you are holding onto parcels such that you cannot hold onto the railing?</label>

		<input type="text" id="abc-15" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-15-slider"></div>
	</div>

	<div class="form-group">
		<label>Walk outside on icy sidewalks?</label>

		<input type="text" id="abc-16" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-16-slider"></div>
	</div>

</section>
<section>
	 <h2>Demonstrate your abilities</h2>

	 <p>Retrieve object from floor</p>

	<div class="form-group">
    <label>Are you able to retrieve an object from floor?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-1" value="1"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-2" value="2"> No
			</label>
		</div>

	</div>

</section>
<section>
	 <h2>Demonstrate your abilities</h2>

	 <p>Look behind (both) shoulders</p>

	<div class="form-group">
    <label>Are you able to look behind (both) shoulders?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-1" value="1"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-2" value="2"> No
			</label>
		</div>

	</div>

  <h3>Successfully looking behind both shoulders</h3>

	<iframe class="ss-video" src="//youtube.com/embed/fc0NYxaPqNs" style="width: 360px; height: 274px;"></iframe>

  <h3>Unsuccessfully looking behind both shoulders</h3>

	<iframe class="ss-video" src="//youtube.com/embed/NbJWY-tDz2w" style="width: 360px; height: 274px;"></iframe>

</section>

<section>
	 <h2>View Results</h2>
	 <input type="submit" class="btn btn-primary" value="Submit"/>
</section>

</div>
</form>

{% endblock %}
