{% extends 'base.html' %}

{% block js %}
<script src="{{STATIC_URL}}js/underscore-min.js"></script>
<script src="{{STATIC_URL}}js/src/wizard.js"></script>
<script>
$(document).ready(function() {
  var w = new window.Wizard("#wizard", "#wizard section");
});
</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>
var makeSlider = function (i) {
  $( "#abc-" + i + "-slider" ).slider({
    value:0,
    min: 0,
    max: 10,
    step: 1,
    slide: function( event, ui ) { $( "#abc-" + i ).val( ui.value ); }
  });
  $( "#abc-" + i ).val( $( "#abc-" + i + "-slider" ).slider( "value" ) );
};

$(function() {
  for (var i=1; i<17; i++) {
    makeSlider(i);
  }
});
</script>

{% endblock %}

{% block content %}

<form role="form" method="post" action=".">
{% csrf_token %}
<div id="wizard">
	<section>
		<h2>Houghton Questions</h2>
		<h3>Please complete the Houghton Questionnaire. If you have any questions, a clinician will assist you.</h3> 

	<div class="form-group">
    <label for="q1">Do you wear your prosthesis</label>

		<div class="radio">
			<label>
				<input type="radio" name="q1" id="q1-1" value="1"> Less than 25% of waking hours (1-3 hours)
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q1" id="q1-2" value="2"> Between 25% and 50% of waking hours (4-8 hours)
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q1" id="q1-3" value="3"> More than 50% of waking hours (more than 8 hours)
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q1" id="q1-4" value="4"> All working hours (12-16 hours)
			</label>
		</div>

  </div>

	<div class="form-group">
    <label>Do you use your prosthesis to walk</label>


		<div class="radio">
			<label>
			<input type="radio" name="q2" id="q2-1" value="1"> Just when visiting the doctor or limb-fitting center
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q2" id="q2-2" value="2"> At home but not to go outside
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q2" id="q2-3" value="3"> Outside the home on occasion
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q2" id="q2-4" value="4"> Inside and outside all the time
			</label>
		</div>

  </div>


	<div class="form-group">
    <label>When going outside when wearing your prosthesis, do you:</label>

		<div class="radio">
			<label>
			<input type="radio" name="q3" id="q3-1" value="1"> Use a wheelchair
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q3" id="q3-2" value="2"> Use two crutches, two canes, or a walker
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q3" id="q3-3" value="3"> Use one cane
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q3" id="q3-4" value="4"> Use nothing
			</label>
		</div>

  </div>

	<div class="form-group">
    <label>When walking with your prothesis outside, do you feel unstable when: walking on a flat surface?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-1" value="1"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q4" id="q4-2" value="2"> No
			</label>
		</div>

	</div>

	<div class="form-group">
    <label>When walking with your prothesis outside, do you feel unstable when: walking on slopes?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q5" id="q4-1" value="1"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q5" id="q4-2" value="2"> No
			</label>
		</div>

	</div>

	<div class="form-group">
    <label>When walking with your prothesis outside, do you feel unstable when: walking on rough ground?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q6" id="q4-1" value="1"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q6" id="q4-2" value="2"> No
			</label>
		</div>

	</div>

	</section>
	<section>
	<h2>Activites-specific Balance Confidence (ABC) Scale</h2>
	<h3>Please complete the Activities-spcific Balance Confidence scale. If you have a question, a clinician will assist you.<br>
		Rate activity as "No Confidence" (0) If you would not perform the activity.</h3>

<h3>How confident are you that you will NOT lose your balance or become unsteady when you:</h3>

	<div class="form-group">
		<label>Walk around your house</label>

		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>
			<input type="text" id="abc-1" name="q7" readonly style="border:0; color:#f6931f; font-weight:bold;" />
			<div id="abc-1-slider"></div>
	</div>


	<div class="form-group">
		<label>Walk up or down stairs?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-2" name="q8" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-2-slider"></div>
	</div>

	<div class="form-group">
		<label>Bend over and pick up a slipper from the front of a closet floor?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-3" name="q9" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-3-slider"></div>
	</div>

	<div class="form-group">
		<label>Reach for a small can off a shelf at eye level?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-4" name="q10" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-4-slider"></div>
	</div>

	<div class="form-group">
		<label>Stand on your tiptoes and reach for something above your head?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-5" name="q11" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-5-slider"></div>
	</div>

	<div class="form-group">
		<label>Stand on a chair and reach for something?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-6" name="q12" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-6-slider"></div>
	</div>

	<div class="form-group">
		<label>Sweep the floor?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-7" name="q13" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-7-slider"></div>
	</div>

	<div class="form-group">
		<label>Walk outside the house to a car parked in the driveway?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-8" name="q14" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-8-slider"></div>
	</div>

	<div class="form-group">
		<label>Get into or out of a car?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-9" name="q15" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-9-slider"></div>
	</div>

	<div class="form-group">
		<label>Walk across a parking lot at the mall?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-10" name="q16" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-10-slider"></div>
	</div>

	<div class="form-group">
		<label>Walk up or down a ramp?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-11" name="q17" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-11-slider"></div>
	</div>

	<div class="form-group">
		<label>Walk in a crowded mall where people rapidly walk past you?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-12" name="q18" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-12-slider"></div>
	</div>

	<div class="form-group">
		<label>Are bumped into by people as you walk through the mall?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-13" name="q19" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-13-slider"></div>
	</div>

	<div class="form-group">
		<label>Step onto or off an escalator while you are holding onto a railing?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-14" name="q20" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-14-slider"></div>
	</div>

	<div class="form-group">
		<label>Step onto or off an escalator while you are holding onto parcels such that you cannot hold onto the railing?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-15" name="q21" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-15-slider"></div>
	</div>

	<div class="form-group">
		<label>Walk outside on icy sidewalks?</label>
		<div class="row">
			<div class="col-sm-3"><span class="text-muted">No Confidence</span></div>
			<div class="col-sm-3 pull-right"><span class="text-muted">Completely Confident</span></div>
		</div>

		<input type="text" id="abc-16" name="q22" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		<div id="abc-16-slider"></div>
	</div>

</section>
<section>
	 <h2>Balance Test 1</h2>
	 <h3>Please complete the first Balance Test: Pick up an object (e.g. pen) from the floor, starting from a standing position. </h3>
		 <h4>(The patient must perform without assistance, but can use their hands to balance.)<br>  
		 The video below demonstrates a successful attempt. If you are unsure how to rate yourself,  a clinician will be able to assist you.</h4>

	<div class="form-group">
    <label>Are you able to able to pick up the object safely and easily?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q23" id="q4-1" value="1"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q23" id="q4-2" value="2"> No
			</label>
		</div>

	</div>
	
  <h3>Successfully Pick up an object from the floor</h3>

	<iframe class="ss-video" src="https://surelink.ccnmtl.columbia.edu/video/?player=mp4_public_stream&amp;file=/03ad0144-f89c-4b38-8b1e-e159a9c4b3b6-PUMP_Wong_PickUp_Successful-mp4-aac-480w-850kbps-ffmpeg.mp4&amp;width=200&amp;height=360&amp;poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_320x240.jpg" style="width: 200px; height: 384px;"></iframe>	

</section>
<section>
	 <h2>Balance Test 2</h2>
	 <h3>Please complete the second Balance Test: Look over your left and right shoulders while standing </h3>
		 <h4>(The patient must perform without assistance, or use of their hands to balance.)<br>  
		 The videos below demonstrate successful and unsuccessful attempts. If you are unsure how to rate yourself,  a clinician will be able to assist you.</h4>

	<div class="form-group">
    <label>Are you able to look behind (both) shoulders?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q24" id="q4-1" value="1"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q24" id="q4-2" value="2"> No
			</label>
		</div>

	</div>

  <h3>Successfully looking behind both shoulders, Profile View</h3>

	<iframe class="ss-video" src="https://surelink.ccnmtl.columbia.edu/video/?player=mp4_public_stream&amp;file=/5b6fb704-a546-4895-aa8c-aadd4b3f2b41-PUMP_Wong_LookBehind_Profile_Successful-mp4-aac-480w-850kbps-ffmpeg.mp4&amp;width=360&amp;height=360&amp;poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_320x240.jpg" style="width: 360px; height: 384px;"></iframe>
	
  <h3>Successfully looking behind both shoulders, Front View</h3>

	<iframe class="ss-video" src="https://surelink.ccnmtl.columbia.edu/video/?player=mp4_public_stream&amp;file=/02425107-4097-455e-9841-1130939fdb1a-PUMP_Wong_LookBehind_Front_Successful-mp4-aac-480w-850kbps-ffmpeg.mp4&amp;width=360&amp;height=360&amp;poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_320x240.jpg" style="width: 360px; height: 384px;"></iframe>	

  <h3>Unsuccessfully looking behind both shoulders, Profile View</h3>

	<iframe class="ss-video" src="https://surelink.ccnmtl.columbia.edu/video/?player=mp4_public_stream&amp;file=/67cfd478-1155-46fe-babf-944f48d02f17-PUMP_Wong_LookBehind_Profile_Fail-mp4-aac-480w-850kbps-ffmpeg.mp4&amp;width=360&amp;height=360&amp;poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_320x240.jpg" width="360" style="width: 360px; height: 384px;"></iframe>

  <h3>Unsuccessfully looking behind both shoulders, Front View</h3>

	<iframe class="ss-video" src="https://surelink.ccnmtl.columbia.edu/video/?player=mp4_public_stream&amp;file=/ac2d8378-2648-4833-a3f8-60da2078edeb-PUMP_Wong_LookBehind_Front_Fail-mp4-aac-480w-850kbps-ffmpeg.mp4&amp;width=360&amp;height=360&amp;poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_320x240.jpg" style="width: 360px; height: 384px;"></iframe>


</section>

<section>
	 <h2>View Results</h2>
	 <input type="submit" class="btn btn-primary" value="Submit"

	 id="submit-button" />
</section>

</div>
</form>

{% endblock %}
