{% extends 'base.html' %}

{% block js %}
<script src="{{STATIC_URL}}js/underscore-min.js"></script>
<script src="{{STATIC_URL}}js/src/wizard.js"></script>
<script>
$(document).ready(function() {
  var w = new window.Wizard("#wizard", "#wizard section");
});
</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>
var makeSlider = function (i) {
  $( "#abc-" + i + "-slider" ).slider({
    value:0,
    min: 0,
    max: 10,
    step: 1,
    slide: function( event, ui ) { $( "#abc-" + i ).val( ui.value ); }
  });
  $( "#abc-" + i ).val( $( "#abc-" + i + "-slider" ).slider( "value" ) );
};

$(function() {
  for (var i=1; i<17; i++) {
    makeSlider(i);
  }
});
</script>

{% endblock %}

{% block content %}

<form role="form" method="post" action=".">
{% csrf_token %}
    <div id="wizard">
        <section>
            <p>Many people with limb loss have difficulties with balance and mobility that makes home and community activities challenging and increases the risk of falls. Understanding the risk factors that affect your ability to safely participate in life’s activities is an important step in reducing your risk of falls and injury while optimizing your walking potential.</p>

            <p>Complete the Risk Inventory survey and receive personalized recommendations about</p>

            <ul>
                <li>Your current walking ability category</li>
                <li>Your Prosthetic Use for Mobility Prognosis (PUMP) for future community walking</li>
                <li>Tips for Injury Prevention Strategies (TIPS) to help you avoid falls and injury</li>
            </ul>
            
            <h1>Risk Inventory</h1>

            <h2>Information About Yourself</h2>
            
            <div class="form-group well">
                <label for="sex">Sex</label>
                <select name="sex" id="sex" class="form-control">
                    <option value=""></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="form-group well">
                <label for="race">Race</label>
                <select name="race" id="race" class="form-control">
                    <option value=""></option>
                    <option value="White Caucasian">White Caucasian</option>
                    <option value="Hispanic non-white">Hispanic non-white</option>
                    <option value="African American">African American</option>
                    <option value="Asian American">Asian American</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="form-group well">
                <label for="amputation_level">Amputation Level</label>
                <select name="amputation_level" id="amputation_level" class="form-control">
                    <option value=""></option>
                    <option value="Partial Foot or Ankle">Partial Foot or Ankle</option>
                    <option value="Transtibial">Transtibial</option>
                    <option value="Through Knee">Through Knee</option>
                    <option value="Transfemoral">Transfemoral</option>
                    <option value="Hip or Higher">Hip or Higher</option>
                    <option value="Bilateral">Bilateral</option>
                </select>
            </div>

            <div class="form-group well">
                <label for="amputation_cause">Amputation Cause</label>
                <select name="amputation_cause" id="amputation_cause" class="form-control">
                    <option value=""></option>
                    <option value="Diabetes">Diabetes</option>
                    <option value="Vascular Disease">Vascular Disease</option>
                    <option value="Trauma">Trauma</option>
                    <option value="Congenital (born-with) condition">Congenital (born-with) condition</option>
                    <option value="Other medical condition">Other medical condition</option>
                </select>
            </div>

            <div class="form-group well">
                <label for="age">Age</label>
                <select name="age" id="age" class="form-control">
                    <option value=""></option>
                    <option value="5-14">5-14</option>
                    <option value="15-24">15-24</option>
                    <option value="25-34">25-34</option>
                    <option value="35-44">35-44</option>
                    <option value="45-54">45-54</option>
                    <option value="55-64">55-64</option>
                    <option value="65-74">65-74</option>
                    <option value="75+">75+</option>
                </select>
            </div>

            <h2>Do these apply to you?</h2>

            <div class="form-group well">
                <label for="r1">Have you fallen in the past 12 months?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r1" id="r1-1" value="2+">More than once (2+)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r1" id="r1-2" value="1">Once (1)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r1" id="r1-3" value="0">No (0)
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r2">Get up at night</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r2" id="r2-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r2" id="r2-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r3">Have phantom limb pains</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r3" id="r3-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r3" id="r3-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r4">Have wet/slippery surfaces at home</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r4" id="r4-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r4" id="r4-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r5">Have unsecured rugs/carpets, bath towels</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r5" id="r5-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r5" id="r5-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r6">Have cluttered floor: shoes, papers, cords</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r6" id="r6-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r6" id="r6-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r7">Have adjustable (screen) door closures</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r7" id="r7-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r7" id="r7-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r8">Hard to sit/to stand up from toilet/shower</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r8" id="r8-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r8" id="r8-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r9">No grab bar in bathroom</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r9" id="r9-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r9" id="r9-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r10">Do you feel unsteady on entry steps and slopes?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r10" id="r10-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r10" id="r10-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r11">Have cats or dogs</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r11" id="r11-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r11" id="r11-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r12">Are you over weight?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r12" id="r12-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r12" id="r12-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r13">Do you get dizzy or light-headed when you get up from the bed or chair?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r13" id="r13-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r13" id="r13-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r14">Have difficulty seeing clearly</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r14" id="r14-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r14" id="r14-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r15">Have you had an open sore/wound, or infection on the foot or amputated limb?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r15" id="r15-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r15" id="r15-2" value="no">No
                    </label>
                </div>
            </div>

            <div class="form-group well">
                <label for="r16">Do you have kidney disease?</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="r16" id="r16-1" value="yes">Yes
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="r16" id="r16-2" value="no">No
                    </label>
                </div>
            </div>
            
        </section>
	<section>
		<h1>Prosthetic Use</h1>
		<p class="lead">Please answer all questions on the Prosthetic Use scale.</p> 
        <div class="form-group well">
        <label for="q1">Do you wear your prosthesis</label>
        
        <div class="radio">
        <label>
        <input type="radio" name="q1" id="q1-1" value="1"> Less than 25% of waking hours (1-3 hours)
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q1" id="q1-2" value="2"> Between 25% and 50% of waking hours (4-8 hours)
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q1" id="q1-3" value="3"> More than 50% of waking hours (more than 8 hours)
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q1" id="q1-4" value="4"> All working hours (12-16 hours)
        </label>
        </div>
        
        </div>
        <div class="form-group well">
        <label>Do you use your prosthesis to walk</label>
        
        
        <div class="radio">
        <label>
        <input type="radio" name="q2" id="q2-1" value="1"> Just when visiting the doctor or limb-fitting center
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q2" id="q2-2" value="2"> At home but not to go outside
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q2" id="q2-3" value="3"> Outside the home on occasion
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q2" id="q2-4" value="4"> Inside and outside all the time
        </label>
        </div>
        
        </div>
        <div class="form-group well">
        <label>When going outside when wearing your prosthesis, do you:</label>
        
        <div class="radio">
        <label>
        <input type="radio" name="q3" id="q3-1" value="1"> Use a wheelchair
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q3" id="q3-2" value="2"> Use two crutches, two canes, or a walker
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q3" id="q3-3" value="3"> Use one cane
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q3" id="q3-4" value="4"> Use nothing
        </label>
        </div>
        
        </div>
        <div class="form-group well">
        <label>When walking with your prothesis outside, do you feel unstable when: walking on a flat surface?</label>
        
        <div class="radio">
        <label>
        <input type="radio" name="q4" id="q4-1" value="1"> Yes
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q4" id="q4-2" value="2"> No
        </label>
        </div>
        
        </div>
        <div class="form-group well">
        <label>When walking with your prothesis outside, do you feel unstable when: walking on slopes?</label>
        
        <div class="radio">
        <label>
        <input type="radio" name="q5" id="q4-1" value="1"> Yes
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q5" id="q4-2" value="2"> No
        </label>
        </div>
        
        </div>
        <div class="form-group well">
        <label>When walking with your prothesis outside, do you feel unstable when: walking on rough ground?</label>
        
        <div class="radio">
        <label>
        <input type="radio" name="q6" id="q4-1" value="1"> Yes
        </label>
        </div>
        
        <div class="radio">
        <label>
        <input type="radio" name="q6" id="q4-2" value="2"> No
        </label>
        </div>
        
        </div>
	</section>
	<section>
	<h1>Activity Balance Confidence (ABC)</h1>
	<p class="lead">Please complete the Activities-specific Balance Confidence scale. Rate how confident you are that you can maintain your balance during each activity. (If you would not perform the activity, you can skip.)</p>

	<div class="form-group well">
		<label>Walk around your house: </label>

			<input class="input-badge text-center" type="text" id="abc-1" name="q7" readonly />
			
			<div id="abc-1-slider"></div>
<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge  pull-right">Completely Confident</span></div>
		</div>
	</div>

	<div class="form-group well">
		<label>Walk up or down stairs?</label>
			<input class="input-badge text-center" type="text" id="abc-2" name="q8" readonly />
		<div id="abc-2-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Bend over and pick up a slipper from the front of a closet floor?</label>
		<input class="input-badge text-center" type="text" id="abc-3" name="q9" readonly />
		<div id="abc-3-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Reach for a small can off a shelf at eye level?</label>
		<input class="input-badge text-center" type="text" id="abc-4" name="q10" readonly />
		<div id="abc-4-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Stand on your tiptoes and reach for something above your head?</label>
		<input class="input-badge text-center" type="text" id="abc-5" name="q11" readonly />
		<div id="abc-5-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Stand on a chair and reach for something?</label>
		<input class="input-badge text-center" type="text" id="abc-6" name="q12" readonly />
		<div id="abc-6-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Sweep the floor?</label>
		<input class="input-badge text-center" type="text" id="abc-7" name="q13" readonly />
		<div id="abc-7-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Walk outside the house to a car parked in the driveway?</label>
		<input class="input-badge text-center" type="text" id="abc-8" name="q14" readonly />
		<div id="abc-8-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Get into or out of a car?</label>
		<input class="input-badge text-center" type="text" id="abc-9" name="q15" readonly />
		<div id="abc-9-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Walk across a parking lot at the mall?</label>
		<input class="input-badge text-center" type="text" id="abc-10" name="q16" readonly />
		<div id="abc-10-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Walk up or down a ramp?</label>
		<input class="input-badge text-center" type="text" id="abc-11" name="q17" readonly />
		<div id="abc-11-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Walk in a crowded mall where people rapidly walk past you?</label>
		<input class="input-badge text-center" type="text" id="abc-12" name="q18" readonly />
		<div id="abc-12-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Are bumped into by people as you walk through the mall?</label>
		<input class="input-badge text-center" type="text" id="abc-13" name="q19" readonly />
		<div id="abc-13-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Step onto or off an escalator while you are holding onto a railing?</label>
		<input class="input-badge text-center" type="text" id="abc-14" name="q20" readonly />
		<div id="abc-14-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Step onto or off an escalator while you are holding onto parcels such that you cannot hold onto the railing?</label>
		<input class="input-badge text-center" type="text" id="abc-15" name="q21" readonly />
		<div id="abc-15-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

	<div class="form-group well">
		<label>Walk outside on icy sidewalks?</label>
		<input class="input-badge text-center" type="text" id="abc-16" name="q22" readonly />
		<div id="abc-16-slider"></div>
		<div class="row">
			<div class="col-sm-6"><span class="text-muted badge">No Confidence</span></div>
			<div class="col-sm-6"><span class="text-muted badge pull-right">Completely Confident</span></div>
		</div>

	</div>

</section>
    <section>
    
	 <h1>Balance Test 1</h1>
	 <p class="lead">Please complete the first Balance Test: Pick up an object (e.g. pen) from the floor, starting from a standing position. Try to perform without assistance, but use your hands for balance if needed. (If you feel unsafe, skip the activity and answer “no”.)</p>
   <p class="lead">The video below demonstrates a successful attempt.</p>

	<div class="form-group well">
    <label>Are you able to able to pick up the object safely and easily?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q23" id="q23-1" value="2"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q23" id="q23-2" value="1"> No
			</label>
		</div>

	</div>

  <p class="lead">This is an example of successfully picking an object up from the floor independently:</p>
  
	<div class="well">
  <h3>Successfully Pick up an object from the floor</h3>
	<iframe class="ss-video" src="https://surelink.ccnmtl.columbia.edu/video/?player=mp4_public_stream&amp;file=/03ad0144-f89c-4b38-8b1e-e159a9c4b3b6-PUMP_Wong_PickUp_Successful-mp4-aac-480w-850kbps-ffmpeg.mp4&amp;width=200&amp;height=360&amp;poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_320x240.jpg" style="width: 200px; height: 384px; border: 0px;"></iframe>	
</div>

</section>
    <section>
    
	 <h1>Balance Test 2</h1>
	 <p class="lead">
       Please complete the second Balance Test: Look over your left and right shoulders while standing. Try to perform without assistance, or using your hands to balance. (If you feel unsafe, skip the activity and answer “no”.)
   </p>
   <p class="lead">
       The videos below demonstrate successful and unsuccessful attempts.
	 </p>

	<div class="form-group well">
    <label>Are you able to look behind (both) shoulders?</label>

		<div class="radio">
			<label>
			<input type="radio" name="q24" id="q24-1" value="2"> Yes
			</label>
		</div>

		<div class="radio">
			<label>
			<input type="radio" name="q24" id="q24-2" value="1"> No
			</label>
		</div>

	</div>

  <p class="lead">
      This is an example of successfully picking an object up from the floor independently:
  </p>
  
	<div class="well">

  <h3>Successfully looking behind both shoulders, Profile View</h3>

	<iframe class="ss-video" src="https://surelink.ccnmtl.columbia.edu/video/?player=mp4_public_stream&amp;file=/5b6fb704-a546-4895-aa8c-aadd4b3f2b41-PUMP_Wong_LookBehind_Profile_Successful-mp4-aac-480w-850kbps-ffmpeg.mp4&amp;width=360&amp;height=360&amp;poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_320x240.jpg" style="width: 360px; height: 384px; border: 0px;"></iframe>
</div>
	<div class="well">

  <h3>Successfully looking behind both shoulders, Front View</h3>

	<iframe class="ss-video" src="https://surelink.ccnmtl.columbia.edu/video/?player=mp4_public_stream&amp;file=/02425107-4097-455e-9841-1130939fdb1a-PUMP_Wong_LookBehind_Front_Successful-mp4-aac-480w-850kbps-ffmpeg.mp4&amp;width=360&amp;height=360&amp;poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_320x240.jpg" style="width: 360px; height: 384px; border: 0px;"></iframe>	
</div>
	<div class="well">

  <h3>Unsuccessfully looking behind both shoulders, Profile View</h3>

	<iframe class="ss-video" src="https://surelink.ccnmtl.columbia.edu/video/?player=mp4_public_stream&amp;file=/67cfd478-1155-46fe-babf-944f48d02f17-PUMP_Wong_LookBehind_Profile_Fail-mp4-aac-480w-850kbps-ffmpeg.mp4&amp;width=360&amp;height=360&amp;poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_320x240.jpg" width="360" style="width: 360px; height: 384px; border: 0px;"></iframe>
</div>
	<div class="well">

  <h3>Unsuccessfully looking behind both shoulders, Front View</h3>

	<iframe class="ss-video" src="https://surelink.ccnmtl.columbia.edu/video/?player=mp4_public_stream&amp;file=/ac2d8378-2648-4833-a3f8-60da2078edeb-PUMP_Wong_LookBehind_Front_Fail-mp4-aac-480w-850kbps-ffmpeg.mp4&amp;width=360&amp;height=360&amp;poster=http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_320x240.jpg" style="width: 360px; height: 384px; border: 0px;"></iframe>
</div>

</section>
    <section>
	 <h1>Answers Submitted</h1>
	 <input type="submit" class="btn btn-primary" value="Show Me My Results" id="submit-button" />
</section>
</div>
</form>

{% endblock %}
