{% extends 'base.html' %}
{% block content %}

<h1>Your Results</h1>
{% with results=object.results %}

<dl>
	<dt>Houghton</dt>
	<dd>
		{% if results.houghton.pass_fail %}
		PASS
		{% else %}
		FAIL
		{% endif %}
		({{results.houghton.score}}/18)
	</dd>
	<dt>ABC</dt>
	<dd>
		{% if results.abc.pass_fail %}
		PASS
		{% else %}
		FAIL
		{% endif %}
		({{results.abc.score}}/160)
	</dd>
	<dt>Pick Up</dt>
	<dd>
		{% if results.pick_up.pass_fail %}
		PASS
		{% else %}
		FAIL
		{% endif %}
	</dd>
	<dt>Look Behind</dt>
	<dd>
		{% if results.look_behind.pass_fail %}
		PASS
		{% else %}
		FAIL
		{% endif %}
	</dd>

{% endwith %}

{% endblock %}
