{% extends 'base.html' %}
{% block content %}

<h1>Your Results</h1>
{% with results=object.results %}

<dl>
	<dt>Houghton</dt>
	<dd id="houghton-result">
		{% if results.houghton.pass_fail %}
		PASS
		{% else %}
		FAIL
		{% endif %}
		({{results.houghton.score}}/18)
	</dd>
	<dt>ABC</dt>
	<dd id="abc-result">
		{% if results.abc.pass_fail %}
		PASS
		{% else %}
		FAIL
		{% endif %}
		({{results.abc.score}}/160)
	</dd>
	<dt>Pick Up</dt>
	<dd id="pickup-result">
		{% if results.pick_up.pass_fail %}
		PASS
		{% else %}
		FAIL
		{% endif %}
	</dd>
	<dt>Look Behind</dt>
	<dd id="look-behind-result">
		{% if results.look_behind.pass_fail %}
		PASS
		{% else %}
		FAIL
		{% endif %}
	</dd>


<p>
You passed {{results.number_passed}} of the four diagnostic tests.<br />
You have a {{results.percentage_likelihood}}% likelihood of being an Unsatisfactory Community Prosthetic User* within one year.
</p>

<div class="results-graph">
<img src="{{STATIC_URL}}img/results-graph.png" />
</div>

<section id="satisfactory-user">
<p>* A 'Satisfactory Community Prosthetics User' is defined as someone
	that is able to walk indoors and outdoors independently within their community.</p>
</section>

<section id="additional-resources">
<h3>Additional Resources</h3>

<p>
The Amputee Coalition (ACA)
- <a href="http://www.amputee-coalition.org/">http://www.amputee-coalition.org</a><br />
The Amputee Walking School
- <a href="http://www.amputeewalkingschool.com/">http://www.amputeewalkingschool.com</a><br />
The New York Presbyterian Rehab Department -
<a href="http://www.nyp.org/rehabmed/index.html">http://www.nyp.org/rehabmed/index.html</a><br />
Christopher Kevin Wong, PT, PhD, MS - 
<a href="http://columbiaphysicaltherapy.org/christopher-kevin-wong">http://columbiaphysicaltherapy.org/christopher-kevin-wong</a>
</p>

</section>

<section>
<h3>Email me my results and additional resources:</h3>
<form action="{% url 'email-results' %}" method="post"
			class="form-inline">
{% csrf_token %}
<input type="hidden" name="response" value="{{object.id}}" />
<div class="form-group">
	<label for="email">Email</label>
	<input type="text" name="email" id="email" class="form-control"
				 placeholder="enter your email address" />
	<input type="submit" value="send" id="email-button" class="btn
	btn-default" />
</form>

{% endwith %}

{% endblock %}
